header {
    font-size: 25px;
    padding: 20px;
    text-align: center;
  }
  
.actlist {
    background-color: #ffa;
    border: 10px solid white;
    color: #495159;
    font-size: 20px;
    font-weight: bolder;
    padding: 20px 5px;
    text-align: center;
}
header{
	background-image: url("parkshero.png");
	height: 750px;
	background-size: cover;
	color:white;
    line-height: 3.5em;
}
header p{
    font-size: 50px;
    font-weight: bold;
    color:white;
    text-align: center;
    text-shadow: 2px 2px blue;
  }
  